@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

* {
    font-family: 'Poppins';
    color: #19345E;
    /* font: bold; */
}

/* navbar mulai */
.navbar {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #C1C3C736;
    opacity: 1;
}

.logoAlterra {
    width: 110px;
}

.navbar-nav .nav-link.active {
    color: #F47522;
}

.tombolContact {
    width: 130px;
    color: #F47522;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #F47522;
    border-radius: 50px;
    opacity: 1;
}

.tombolContact:hover {
    color: white;
    background-color: #19345E;
}

li {
    padding-right: 25px;
}

/* navbar selesai */

/* content mulai */
.iniContainerContent1 {
    padding: 200px 0px;
    background: #EDF6FF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.iniContainerDalam1 {
    background: #EDF6FF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.iniGambarGroup img {
    width: 420px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

span.textOren {
    color: #F47522;
}

h5.textOren {
    color: #F47522;
}

.tombolAboutTeam {
    width: 230px;
    height: 40px;
    color: white;
    background: #F47522 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50px;
    opacity: 1;
}

.tombolAboutTeam:hover {
    color: white;
    background-color: #19345E;
}

.iconTombol {
    width: 20px;
    align-items: center;
}

.iniContentRounded {
    padding: 30px 0px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 100px;
    opacity: 1;
}

.bundar img {
    background: #F47522 0% 0% no-repeat padding-box;
    border-radius: 50%;
    opacity: 1;
    width: 40px;
    padding: 5px;
}

.garisVertical {
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

.image-container1 {
    position: relative;
    display: inline-block;
}

.image-container1 img {
    display: block;
    max-width: 100%;
    height: auto;
}

.image-container1 .overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #19345E;
    opacity: 0.7;
    color: white;
    padding: 20px;
}

.image-container1 .overlay1 h1 {
    margin: 0;
}

.image-container1 .overlay1 p {
    font-size: 18px;
    margin-top: 10px;
    color: white;
}

.image-container2 {
    position: relative;
    display: inline-block;
}

.image-container2 img {
    width: 200px;
    height: 292px;
}

.iniGambarContent2 .col img {
    width: 225px;
    height: 265px;
}

.checkNow {
    width: 65%;
}

.linkOren:hover {
    color: #F47522;
}

/* content selesai */

/* footer mulai */
.footer {
    margin-top: 10%;
    padding-top: 10px;
    height: 141px;
    background: #19345E 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;
}

.footer p {
    color: white;
    padding-top: 25px;
}

.sosmed img {
    width: 20px;
    margin-left: 5px;
}

.footer .copyright {
    color: white;
}

/* footer selesai */